.THIS {
    background: white;
    height: calc(100% - 20px);
}

.THIS .slds-docked-form-footer{
    z-index: 1;
}

.THIS .slds-path__nav{
    margin-right: 0px;
    margin-top: 12px;
}

.THIS .slds-docked-form-footer{
    position: relative;
}

.THIS .vpc-body-step{
    height: calc(100% - 92px);
    overflow: auto; 
}