.THIS .slds-docked-form-footer{
    position: relative;
    margin: auto;
    width: calc(100% + 64px);
    right: -32px;
    left: -32px;
}

.THIS .vpc-body-step{
    height: calc(100% - 34px - 48px);
}

.THIS.vpc-preview-container{
    width: 100%;
    overflow-x: hidden;
    margin-left: -8px;
    position: absolute;
    height: calc(100% - 10px);
    padding-top: 15px;
}

.THIS .slds-path{
    margin-top: 0px;
    margin-left: 7px;
}